@model IEnumerable<SrgDomain.Model.Manager>
@{
    ViewData["Title"] = "Managers";
}
<h2>Managers</h2>
<p>
    <a asp-action="Create">Create New Manager</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => manager.Name)</td>
                <td>
                    <a asp-controller="Departments" asp-action="Details" asp-route-id="@manager.Department.Id">
                        @manager.Department.DepartmentName
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@manager.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@manager.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@manager.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
