@model SrgDomain.Model.Department
@{
    ViewData["Title"] = "Дані департаменту";
}
<h2>Дані департаменту</h2>

<div>
    <h4>Департамент</h4>
    <hr />
    <div class="mb-3">
        @if (!string.IsNullOrEmpty(Model.PhotoPath))
        {
            <img src="@Model.PhotoPath" alt="@Model.DepartmentName" class="img-thumbnail" style="max-width:200px;" />
        }
        else
        {
            <!-- Optional fallback image -->
            <img src="/img/default-department.jpg" alt="No image available" class="img-thumbnail" style="max-width:200px;" />
        }
    </div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DepartmentName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DepartmentName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ContactEmail)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ContactEmail)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
        <dd class="col-sm-10">@Model.CreatedDate.ToString("g")</dd>
    </dl>
</div>
<div>
    @if (Model.Manager != null)
    {
        <p>
            <strong>Менеджер:</strong>
            <a asp-controller="Managers" asp-action="Details" asp-route-id="@Model.Manager.Id">@Model.Manager.Name</a>
        </p>
    }
    else
    {
        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <p>
                Менеджер не призначений.
                <a class="btn btn-primary" asp-controller="Managers" asp-action="Create" asp-route-departmentId="@Model.Id">
                    Додати менеджера
                </a>
            </p>
        }
    }
</div>
<p>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a>
        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Id">Видалити</a>
    }
    <a class="btn btn-primary" asp-controller="Departments" asp-action="Index">Назад до головної</a>
</p>
