@model SrgDomain.Model.Member
@{
    ViewData["Title"] = "Member Details";
}
<h2>Member Details</h2>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Role)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Role)</dd>
        <dt class="col-sm-2">Tasks Per Month</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TasksPerMonth)</dd>
        <dt class="col-sm-2">Tasks Total</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TasksTotal)</dd>
        <dt class="col-sm-2">Last Task Date</dt>
        <dd class="col-sm-10">
            @(Model.LastTaskDate.HasValue ? Model.LastTaskDate.Value.ToString("g") : "")
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Managers" asp-action="Details" asp-route-id="@Model.Manager.Id">Back to Manager</a>
</p>
