@model IEnumerable<SrgDomain.Model.Member>
@{
    ViewData["Title"] = "Members";
}
<h2>Members</h2>
<p>
    <a asp-action="Create">Create New Member</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Role)</th>
            <th>Manager</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => member.Name)</td>
                <td>@Html.DisplayFor(m => member.Role)</td>
                <td>
                    <a asp-controller="Managers" asp-action="Details" asp-route-id="@member.Manager.Id">
                        @member.Manager.Name
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@member.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@member.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@member.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
