@model SrgDomain.Model.Member
@{
    ViewData["Title"] = "Завдання " + Model.Name;
}

<h2>Завдання @Model.Name</h2>

@if (Model.Tasks == null || !Model.Tasks.Any())
{
    <p>Жодного завдання не призначено цьому учаснику.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Назва завдання</th>
                <th>Статус</th>
                <th>Менеджер</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Status</td>
                    <td>@(task.Manager != null ? task.Manager.Name : "N/A")</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Tasks" asp-action="Details" asp-route-id="@task.Id">Дані</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Повернутися до даних учасника</a>
</p>
