@model IEnumerable<SrgDomain.Model.Task>
@{
    ViewData["Title"] = "Завдання";
}
<h2>Завдання</h2>
<p>
    <a asp-action="Create">Створити нове завдання</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Status)</th>
            <th>@Html.DisplayNameFor(model => model.First().Deadline)</th>
            <th>Менеджер</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => task.Title)</td>
                <td>@Html.DisplayFor(m => task.Status)</td>
                <td>@(task.Deadline.HasValue ? task.Deadline.Value.ToString("g") : "")</td>
                <td>
                    <a asp-controller="Managers" asp-action="Details" asp-route-id="@task.Manager.Id">
                        @task.Manager.Name
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.Id">Дані</a> |
                    <a asp-action="Edit" asp-route-id="@task.Id">Редагувати</a> |
                    <a asp-action="Delete" asp-route-id="@task.Id">Видалити</a> |
                    @if (!string.Equals(task.Status, "Completed", StringComparison.OrdinalIgnoreCase))
                    {
                        using (Html.BeginForm("MarkAsCompleted", "Tasks", new { id = task.Id }, FormMethod.Post, false, new { @class = "d-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Mark as Completed" class="btn btn-sm btn-success" />
                        }

                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary" disabled>Completed</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
